
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-logo-container{
    display: flex;
    align-items: center;
}
.switch-button-container{
    display: flex;
    align-items: center;
    width: 88px;
}
.header-container{
    height: 48px;
    padding: 10px 28px;
}
.app-title{
    font-size: 14px;
    color: #D82121;
    margin-left: 0.83px;
}
.temperature-btn{
    font-size: 16px;
    font-weight: 650s;
    // background-color: #D82121;
    background-color: #f1f1f1;
    height: 32px;
    color: #000;
    border: none;
    width: 44px;
    cursor: pointer;
}
.foreign-heights-btn{
    border-radius: 4px 0 0 4px;
}
.celsius-converter-btn{
    border-radius: 0 4px 4px 0;
}
.selected{
    color:#fff;
    background-color: #D82121;
}
.weather-info-section{
    
}